@charset "UTF-8";
a {
  cursor: pointer; }

#header {
  width: 100%;
  height: 29px;
  border-bottom: 1px solid #CCC;
  background: red; }
  #header .header {
    height: 29px;
    background: #F0F0F0; }
    #header .header p {
      display: inline-block;
      font-size: 12px;
      color: #DCB07C;
      line-height: 29px;
      text-align: left; }
      #header .header p a {
        font-size: 12px;
        color: #0066FD; }
    #header .header ul {
      width: 339px;
      height: 29px;
      float: right; }
      #header .header ul .header_three_li {
        width: 80px;
        font-size: 12px;
        text-indent: 1em;
        color: black;
        line-height: 29px;
        float: left; }
      #header .header ul li:last-child {
        width: 95px;
        height: 29px;
        float: left;
        font-size: 12px;
        line-height: 29px; }
      #header .header ul .header_one_li, #header .header ul .header_two_li {
        height: 29px;
        width: 80px;
        float: left;
        text-indent: 1em;
        font-size: 12px;
        line-height: 29px;
        position: relative; }
        #header .header ul .header_one_li .header_show_one, #header .header ul .header_one_li .header_show_two, #header .header ul .header_two_li .header_show_one, #header .header ul .header_two_li .header_show_two {
          position: absolute;
          top: 0;
          left: 0;
          display: none; }
          #header .header ul .header_one_li .header_show_one ul, #header .header ul .header_one_li .header_show_two ul, #header .header ul .header_two_li .header_show_one ul, #header .header ul .header_two_li .header_show_two ul {
            width: 80px;
            height: 120px;
            background: white;
            border-top: none; }
            #header .header ul .header_one_li .header_show_one ul li, #header .header ul .header_one_li .header_show_two ul li, #header .header ul .header_two_li .header_show_one ul li, #header .header ul .header_two_li .header_show_two ul li {
              width: 80px;
              height: 30px; }
              #header .header ul .header_one_li .header_show_one ul li a, #header .header ul .header_one_li .header_show_two ul li a, #header .header ul .header_two_li .header_show_one ul li a, #header .header ul .header_two_li .header_show_two ul li a {
                color: black; }
            #header .header ul .header_one_li .header_show_one ul li:hover a, #header .header ul .header_one_li .header_show_two ul li:hover a, #header .header ul .header_two_li .header_show_one ul li:hover a, #header .header ul .header_two_li .header_show_two ul li:hover a {
              color: red; }

#search {
  width: 100%;
  height: 100px;
  background: yellow; }
  #search .search {
    height: 100px;
    background: white;
    overflow: hidden; }
    #search .search .logo a {
      display: block;
      height: 100px;
      width: 210px;
      background: url("../images/index_img/search_logo.png");
      float: left;
      text-indent: -9999em; }
    #search .search .button_one {
      display: block;
      height: 30px;
      width: 350px;
      border: 1px solid #FFC400;
      margin-top: 38px;
      margin-left: 140px;
      float: left; }
    #search .search .button_two {
      margin-top: 38px;
      display: block;
      float: left;
      display: block;
      width: 80px;
      height: 32px;
      background: #FFC400;
      border: 0 none;
      cursor: pointer; }

#nav {
  width: 100%;
  height: 40px;
  background: #FFC400; }
  #nav .nav {
    position: relative; }
    #nav .nav .ul_one {
      float: left; }
      #nav .nav .ul_one li:nth-child(4) {
        position: relative; }
        #nav .nav .ul_one li:nth-child(4) img {
          position: absolute;
          top: -8px;
          right: 0; }
      #nav .nav .ul_one li:nth-child(6) {
        position: relative; }
        #nav .nav .ul_one li:nth-child(6) img {
          position: absolute;
          top: -8px;
          right: 0; }
      #nav .nav .ul_one li {
        float: left;
        line-height: 40px;
        font-size: 16px;
        padding: 0px 16px;
        cursor: pointer; }
        #nav .nav .ul_one li a {
          color: black; }
      #nav .nav .ul_one li:hover {
        background: #333; }
      #nav .nav .ul_one li:hover a {
        color: white; }
      #nav .nav .ul_one li:first-child {
        width: 158px;
        text-indent: 2em; }
    #nav .nav .ul_two {
      width: 191px;
      height: 480px;
      background: #F6F6F6;
      position: absolute;
      top: 50px;
      left: 0px;
      padding: 0;
      z-index: 1; }
      #nav .nav .ul_two li {
        overflow: hidden; }
        #nav .nav .ul_two li a {
          display: block;
          height: 32px;
          width: 191px;
          margin-left: 32px;
          font-size: 14px;
          color: black; }
          #nav .nav .ul_two li a img {
            margin-right: 20px; }
      #nav .nav .ul_two li:hover {
        background: white; }
    #nav .nav .ul_three {
      width: 227px;
      height: 480px;
      background: #F6F6F6;
      position: absolute;
      top: 50px;
      right: 0px;
      padding: 0;
      z-index: 1; }
      #nav .nav .ul_three .li_one {
        width: 227px;
        height: 41px;
        background: #FFFFFF; }
        #nav .nav .ul_three .li_one a {
          margin-left: 80px;
          line-height: 41px; }
      #nav .nav .ul_three .li_two {
        width: 227px;
        height: 139px;
        background: #FFFBD1; }
        #nav .nav .ul_three .li_two li a {
          display: block;
          font-size: 13px;
          padding: 5px 0px; }
      #nav .nav .ul_three .li_three #banner1 {
        height: 300px;
        width: 227px;
        position: relative;
        overflow: hidden;
        /*焦点的样式*/ }
        #nav .nav .ul_three .li_three #banner1 #slider_img1 {
          width: 227px;
          height: 302px; }
        #nav .nav .ul_three .li_three #banner1 #slider_img1 li {
          width: 227px;
          height: 300px;
          position: absolute;
          left: 0;
          top: 0; }
        #nav .nav .ul_three .li_three #banner1 #light1 {
          width: 110px;
          position: absolute;
          left: 60px;
          bottom: 0;
          text-align: center; }
        #nav .nav .ul_three .li_three #banner1 #light1 span {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url(../images/index_img/icon.png) no-repeat -24px -780px;
          /*隐藏里面的文字*/
          text-indent: -99999px;
          cursor: pointer;
          margin: 0 5px; }
        #nav .nav .ul_three .li_three #banner1 #light1 .active1 {
          background: url(../images/index_img/icon.png) no-repeat 0px -760px; }
  #nav .car {
    width: 191px;
    height: 24px;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
    background: white;
    margin-top: 8px; }
    #nav .car img {
      margin-left: 19px; }
    #nav .car span {
      color: red; }
    #nav .car a:first-child {
      display: block;
      float: left;
      width: 122px;
      height: 24px;
      font-size: 13px; }
    #nav .car a:last-child {
      font-size: 13px;
      background: #FFDE00;
      width: 69px;
      height: 24px;
      float: right;
      text-align: center;
      line-height: 24px;
      border-radius: 0 5px 5px 0;
      color: black; }
      #nav .car a:last-child :hover {
        color: white; }

#banner {
  height: 480px;
  width: 100%;
  position: relative;
  margin: 10px auto;
  overflow: hidden;
  /*焦点的样式*/
  /*左右按钮*/ }
  #banner #slider_img {
    width: 1900px;
    height: 480px; }
  #banner #slider_img li {
    width: 1900px;
    height: 480px;
    position: absolute;
    left: 0;
    top: 0; }
  #banner #light {
    width: 410px;
    position: absolute;
    left: 500px;
    bottom: 0;
    text-align: center; }
  #banner #light span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/index_img/icon.png) no-repeat -24px -780px;
    /*隐藏里面的文字*/
    text-indent: -99999px;
    cursor: pointer;
    margin: 0 5px; }
  #banner #light .active {
    background: url(../images/index_img/icon.png) no-repeat 0px -760px; }
  #banner #posi_ctrl {
    position: absolute;
    top: 50%;
    width: 310px;
    height: 35px;
    margin-top: -17px;
    /*background: red;*/
    z-index: 5;
    cursor: pointer; }
  #banner #posi_ctrl span {
    position: absolute;
    width: 40px;
    height: 45px; }
  #banner #posi_ctrl #prev {
    left: 360px;
    background: url(../images/index_img/icon.png) no-repeat; }
  #banner #posi_ctrl #next {
    left: 1095px;
    background: url(../images/index_img/icon.png) 0 -44px no-repeat; }

#miaosha {
  width: 100%;
  height: 267px;
  background: white; }
  #miaosha .miaosha {
    height: 280px;
    position: relative; }
    #miaosha .miaosha .miaoshas {
      float: left;
      width: 190px;
      height: 267px; }
      #miaosha .miaosha .miaoshas #time {
        position: absolute;
        top: 167px;
        left: 23px;
        color: white;
        font-size: 25px; }
    #miaosha .miaosha .miaoshaGoods ul {
      width: 1010px;
      height: 267px;
      float: left; }
      #miaosha .miaosha .miaoshaGoods ul li {
        position: relative;
        float: left;
        width: 20%;
        height: 100%;
        text-align: center; }
        #miaosha .miaosha .miaoshaGoods ul li .miaosha_1 {
          width: 150px;
          height: 150px;
          margin-top: 15px; }
        #miaosha .miaosha .miaoshaGoods ul li .goodsIntroduce {
          margin-top: 20px; }
          #miaosha .miaosha .miaoshaGoods ul li .goodsIntroduce a {
            color: black; }
          #miaosha .miaosha .miaoshaGoods ul li .goodsIntroduce a:nth-child(3) {
            font-size: 12px;
            color: #ccc; }
        #miaosha .miaosha .miaoshaGoods ul li .miaosha_span {
          position: absolute;
          left: 15px;
          bottom: 10px; }
          #miaosha .miaosha .miaoshaGoods ul li .miaosha_span span:nth-child(1) {
            font-size: 20px;
            color: white;
            font-weight: 900; }
          #miaosha .miaosha .miaoshaGoods ul li .miaosha_span span:nth-child(2) {
            color: white;
            text-decoration: line-through;
            font-size: 12px;
            font-weight: 700; }

.goods {
  width: 100%;
  height: 550px;
  background: white; }
  .goods .good_1 {
    height: 550px; }
    .goods .good_1 .goodHead {
      position: relative; }
      .goods .good_1 .goodHead ul {
        position: absolute;
        top: 20px;
        right: 0; }
        .goods .good_1 .goodHead ul li {
          float: left;
          padding-left: 10px; }
          .goods .good_1 .goodHead ul li a {
            color: black; }
          .goods .good_1 .goodHead ul li a:hover {
            color: red; }
    .goods .good_1 .good_left {
      width: 600px;
      height: 416px;
      float: left; }
      .goods .good_1 .good_left div {
        overflow: hidden;
        float: left; }
        .goods .good_1 .good_left div img {
          transition: all 1s; }
        .goods .good_1 .good_left div img:hover {
          transform: scale(1.05); }
    .goods .good_1 .good_right {
      width: 600px;
      height: 416px;
      float: left; }
      .goods .good_1 .good_right ul li {
        overflow: hidden;
        float: left;
        width: 200px;
        height: 208px;
        text-align: center; }
        .goods .good_1 .good_right ul li img {
          transition: all 1s;
          width: 150px;
          height: 150px; }
        .goods .good_1 .good_right ul li img:hover {
          transform: scale(1.05); }
        .goods .good_1 .good_right ul li a:nth-child(3) span {
          font-size: 12px;
          color: black; }
        .goods .good_1 .good_right ul li a:nth-child(5) span {
          font-weight: 900;
          color: red; }
    .goods .good_1 .good_bottom ul li {
      height: 68px;
      width: 150px;
      overflow: hidden;
      float: left; }
      .goods .good_1 .good_bottom ul li img {
        transition: all 1s; }
      .goods .good_1 .good_bottom ul li img:hover {
        transform: scale(1.1); }

#side {
  width: 60px;
  height: 180px;
  position: relative;
  position: fixed;
  right: 40px;
  top: 30px;
  display: none; }
  #side ul {
    position: absolute;
    top: 0;
    left: 0; }
    #side ul li span {
      display: block;
      width: 60px;
      height: 60px; }

#footer {
  width: 100%;
  height: 344px;
  background: red; }
  #footer .footer {
    height: 344px;
    background: white;
    overflow: hidden; }
    #footer .footer .ul_one {
      height: 150px;
      margin-top: 66px;
      margin-left: 110px; }
      #footer .footer .ul_one > li {
        float: left;
        height: 150px;
        padding: 0 20px;
        border-right: 1px solid black; }
        #footer .footer .ul_one > li a {
          font-size: 12px;
          color: #ccc; }
      #footer .footer .ul_one .li_one ul li span:nth-child(1) {
        font-size: 12px; }
      #footer .footer .ul_one .li_one ul li:nth-child(3) {
        margin-top: 20px;
        text-indent: 4em; }
        #footer .footer .ul_one .li_one ul li:nth-child(3) span {
          color: red; }
      #footer .footer .ul_one .li_one ul li:nth-child(4) {
        margin-top: 15px;
        text-indent: 6em; }
        #footer .footer .ul_one .li_one ul li:nth-child(4) span {
          color: red; }
    #footer .footer .footer_last {
      height: 128px;
      width: 980px;
      margin-left: 113px;
      margin-top: 20px;
      float: left; }
      #footer .footer .footer_last .ul_one {
        margin-top: 0;
        height: 12px; }
        #footer .footer .footer_last .ul_one li {
          border: none;
          padding-right: 1px;
          height: 12px; }
          #footer .footer .footer_last .ul_one li a {
            font-size: 12px;
            color: black; }
      #footer .footer .footer_last .ul_two {
        margin-top: 10px;
        font-size: 12px;
        color: #ccc;
        margin-left: 20px; }
        #footer .footer .footer_last .ul_two a {
          color: #ccc; }
        #footer .footer .footer_last .ul_two a:hover {
          color: blue; }
    #footer .footer .gov {
      float: left; }
      #footer .footer .gov img {
        height: 70px;
        width: 50px; }

/*# sourceMappingURL=index.css.map */
